<!-- Collect the nav links, forms, and other content for toggling -->
<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav navbar-right">
        <li>
            <a href="/">Home</a>
        </li>
        <li>
            <a href="my-cv">My CV</a>
        </li>
        <li>
            <a href="contact">Contact us</a>
        </li>
        <li>
            <a href="admin">Admin</a>
        </li>
    </ul>
</div>